#issue-detail {
    background-color: white;
}

.updated-time {
    text-align: right;
    float: right;
    font-size: 0.8em;
    font-style: italic;   
    color: rgb(141, 141, 141);     
}

.created-time {
    text-align: right;
    float: right;
    color: rgb(90, 90, 90);
    font-size: 0.65em;
    display: inline-flex;
    vertical-align: middle;
}
