
  
.profile-picture {
    margin-bottom: 20px;
}

.profile-desc {
    color: #25252591;
    display: inline-flex;
    vertical-align: middle;
}

.mat-card-header {
    margin: 20px;    
}

.mat-card-header-text {
    color: #1f1f1f91;
}

.profile {
    width: 90%;
    background-color: white;
}

.female{
    border-bottom: solid 8px #a77fe8;
}

.male{
    border-bottom: solid 8px #7fb9e8;
}